html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: x-large;
}

.background {
    position: absolute;
    display: block;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.blank-space-large {
    height: 25em;
}
.blank-space {
    height: 6em;
}

/* Nav Bar */
.navbar {
    background-color: #000000;
    font-family: 'Squada One', cursive;
    font-size: x-large;
}
.navbar .navbar-brand {
    color: #ffffff;
    font-size: xx-large;

}

.navbar .navbar-text {
    color: #ffffff;
}
.navbar .navbar-text a {
    color: #F2A900;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #F2A900;
}
.navbar .navbar-nav .nav-link {
    color: #c4c4c4;
    border-radius: .30rem;
    margin: 0 0.30em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #F2A900;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #F2A900;
    background-color: #ffffff;
}
.navbar .navbar-toggle {
    border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-link:hover {
    color: #d2a700;
}
.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #f2a900;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

nav.navbar {
    border-bottom: 1px solid #808080;
    border-bottom-style: inset;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
    to { transform: translateY(0); }
}

.come-in-right {
    transform: translateX(150px);
    animation: come-in 0.8s ease forwards;
}
.come-in-right:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in-right {
    to { transform: translateX(0); }
}

.come-in-left {
    transform: translateX(-150px);
    animation: come-in 0.8s ease forwards;
}
.come-in-left:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in-left {
    to { transform: translateX(0); }
}

.gitCard {
    vertical-align: auto;
    min-width: 100%;
    max-width: 100%;
}

.icon-3d {
    padding: 10px;
    color: #fff;
}

.icon-3d:hover {
     -webkit-animation: icon3d 200ms infinite;
     animation: icon3d 200ms infinite;
 }

.zoom {
    padding: 10px;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15);
}


@keyframes icon3d {
    0% {
        text-shadow: 5px 4px #F2A900, -5px -6px #005cbf;
    }
    25% {
        text-shadow: -5px -6px #F2A900, 5px 4px #005cbf;
    }
    50% {
        text-shadow: 5px -4px #F2A900, -8px 4px #005cbf;
    }
    75% {
        text-shadow: -8px -4px #F2A900, -5px -4px #005cbf;
    }
    100% {
        text-shadow: -5px 0 #F2A900, 5px -4px #005cbf;
    }
}

.footer {

    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #000000;
}